body {
  padding-top: 50px;
  font-family: "Roboto", sans-serif; }

/* Hero Image */
.hero-background {
  margin: 0px;
  margin-left: 16%;
  height: 100%;
  width: 84%;
  position: absolute;
  background-image: url("https://31.media.tumblr.com/79906fd071c1ee4328bbb5321d343bd5/tumblr_n16xhpKHoX1re61s7o1_500.gif");
  background-size: cover;
  background-repeat: no-repeat; }

/* Logo */
.logo {
  margin-top: 10px;
  margin-bottom: 10px; }

/* Navbar */
.navbar-fixed-top {
  border: 0;
  box-shadow: 0px 2px 3px #888888;
  height: 70px;
  background-color: black;
  color: white; }

.navbar-brand {
  font-size: 30px; }

/* Sidebar */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100%;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee; } }
/* Sidebar navigation */
.nav-sidebar {
  margin-right: 0px -20px 20px -21px;
  /* 20px padding + 1px border */ }

.nav-sidebar > li > a {
  padding-right: 0px 20px 0px 20px;
  text-align: center; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

li a {
  color: black; }

input[type="radio"] {
  visibility: hidden; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.radio {
  margin-top: 25px; }
  .radio input {
    display: none; }
  .radio label {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: black;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px; }
  .radio label:hover {
    background: #ddd; }
  .radio label:active,
  .radio input:focus + label {
    background: #aaa; }
  .radio input:checked + label {
    background: #00FFC8; }

form {
  margin-top: 5px; }
  form input {
    margin-bottom: 15px; }
  form .form_labels {
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px; }
  form .form-control {
    border-radius: 2px;
    color: #888787;
    font-weight: 300; }
  form span {
    font-size: 14px;
    font-weight: 300; }

/* Button */
.btn-default {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  width: 100%;
  text-align: left; }

.btn-primary {
  position: relative;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: black;
  box-shadow: 1px 1px 3.5px #888888;
  font-weight: 400; }

.btn {
  border-radius: 0px !important; }

/* Event Boxes */
h3 {
  padding: 0px 10px 0;
  font-weight: 200; }

.event_title {
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace; }

.event_title:hover {
  background-color: #BA01FF;
  color: black;
  border-bottom: 2px dotted #000;
  text-decoration: none; }

.title-wrapper {
  height: 60px;
  width: 100%;
  position: relative; }

.item-wrapper {
  height: 250px;
  width: 250px;
  position: relative; }

.detail p {
  margin: 5px; }

.date-time {
  font-size: 13px;
  font-weight: 400; }

.address {
  font-size: 12px; }

.event-source {
  font-size: 9px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 10px; }

hr {
  margin: 1.5em auto; }

/* Loading Image */
html, body {
  min-height: 100%; }

html.loading {
  background: black url("http://www.20cents-video.com/userdata/animated-gif/library/tumblr_mjphnqLpNy1s5jjtzo1_400.gif") no-repeat 50% 50%;
  z-index: 1; }

body {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

html.loading body {
  opacity: 0.1;
  -webkit-transition: opacity 0.1;
  transition: opacity 0.1; }

/*# sourceMappingURL=style.css.map */
